.login-wrapper{
    display: flex;
    height: 100vh; 
    width: 100vw;
}
.login-box{
    position: relative;
    margin: auto;
    padding: 2rem;
    border: 2px black solid; 
    height: auto; 
    width: 50vw; 
}
